body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

.Hero{
    background-image: url(/unsplash_w3eFhqXjkZE.png);
}

header{
    display: grid;
    grid-template: 58px 58px / 3fr 1fr 1fr 1fr;
}
.contact{
    grid-row: span 2;
    background-color: white;
    color: black;
}

.logo{
    grid-row: span 2;
   display: flex;
   justify-content: start;
   padding: 0 33%;
   font-size: xx-large;
   color: white;
   font-weight: 700;
}
.logo a {
    border: none;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
    border-left: white solid;
}
.borderbutton{
    border-bottom: white solid;
}
header svg {
    margin-right: 5px;
}